language: perl

perl:
    - "5.16"
    - "5.14"
    - "5.12"
    - "5.10"

install:
    - dzil authordeps | xargs cpanm --quiet --notest --noskip-satisfied
    - dzil listdeps   | xargs cpanm --quiet --notest --noskip-satisfied

script:
    - dzil smoke
