/* 
* Demo Styles for Scaffold
*/



/* Basic Styles
================================================== */
body {
  background-color: #fcfcfc;
  background-image: url('../img/bg_tile.gif');
  padding: 20px;
}

#container {
  width: 720px;
  margin: 0 auto 0 auto;
}

dl {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
}

dt {
  width: 120px;
  float: left;
  text-align: right;
  padding: 5px 20px 5px 0;
  font-weight: bold;
  height: 20px;
}

dd {
  height: 20px;
  padding: 5px 0 5px 0;
  font-family: monospace;
}